<div class="container">
  <h1 class="text-center">Add a new cocktail</h1>
    <%= render 'form', cocktail: @cocktail %>
    <%= link_to "Back to list", cocktails_path, class: "btn btn-success" %>
</div>
