// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
}

h1 {
  font-size: 25px;
}

.btn {
  background-color: #dd9521;
  color: white;
  border: none;
  &:hover {
    background-color: #bc7709;
    color: white;
    border: none;
  }
}

.back-button {
  padding-top: 10px;
}

