.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.testimonials-container h2 {
  font-size: 25px;
}

.testimonials-title {
  margin-bottom: 45px;
}

.client {
  color: #dd9521;
  font-weight: bold;
}
